import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('C:/Users/liping/OneDrive/文件/學校資料/碩一上/資料探勘/Hw/dataminingHW4/交易資料集.csv', na_values = '?' )

In [3]:
df = dataset
df = df.replace('?', np.NaN)
df = df.dropna()
df

,ITEM_ID,ITEM_NO,PRODUCT_TYPE,CUST_ID,TRX_DATE,INVOICE_NO,QUANTITY
0,3217532,M25P40-VMN6TPB,MEMORY_EMBEDED,3218,2016/7/26,CX47348203,2500
1,3326781,AU80610006237AASLBX9,CPU / MPU,2470,2016/7/11,CX47346522,50
2,740487,MMBD2837LT1G,DISCRETE,16135,2016/7/27,CX47348534,3000
3,3434776,IHLP1616ABER2R2M11,PEMCO,999999999,2016/7/29,A20160700174,0
4,70072,MMBT3906LT1G,DISCRETE,2356,2016/7/6,CX47346184,12000
...,...,...,...,...,...,...,...
157391,133619,"74LVC2G17GW,125",LOGIC IC,2579,2016/7/11,216072287,1644
157392,15231095,MT41K256M16TW-107:P TRAY,MEMORY_EMBEDED,43262,2016/7/28,216077517,300000
157393,14864010,MT36KSF2G72PZ-1G6E1FE,MEMORY_EMBEDED,47302,2016/7/7,A10123295,-1
157394,15220039,CM8066201920103SR2L2,CPU / MPU,49263,2016/7/22,A10123946,-2
157395,14852949,MT41K64M16TW-107:J,MEMORY_EMBEDED,47302,2016/7/5,216070810,2000

In [4]:
#刪除數量為零或負值的交易
df2 = df[df["QUANTITY"] > 0]
df2

,ITEM_ID,ITEM_NO,PRODUCT_TYPE,CUST_ID,TRX_DATE,INVOICE_NO,QUANTITY
0,3217532,M25P40-VMN6TPB,MEMORY_EMBEDED,3218,2016/7/26,CX47348203,2500
1,3326781,AU80610006237AASLBX9,CPU / MPU,2470,2016/7/11,CX47346522,50
2,740487,MMBD2837LT1G,DISCRETE,16135,2016/7/27,CX47348534,3000
4,70072,MMBT3906LT1G,DISCRETE,2356,2016/7/6,CX47346184,12000
6,3420352,TMP103AYFFR,LINEAR IC,10228,2016/7/25,CX47347899,3000
...,...,...,...,...,...,...,...
157389,14691206,"74HCT365D,653",LOGIC IC,2100,2016/7/6,216071271,7030
157390,3249493,"74HC04D,653",LOGIC IC,2197,2016/7/21,216075314,347
157391,133619,"74LVC2G17GW,125",LOGIC IC,2579,2016/7/11,216072287,1644
157392,15231095,MT41K256M16TW-107:P TRAY,MEMORY_EMBEDED,43262,2016/7/28,216077517,300000
157395,14852949,MT41K64M16TW-107:J,MEMORY_EMBEDED,47302,2016/7/5,216070810,2000

In [5]:
#相同INVOICE_NO表示同一筆交易紀錄，QUANTITY做加總
basket = (df2.groupby(['INVOICE_NO','ITEM_ID'])
          ['QUANTITY'].sum().unstack().reset_index().fillna(0).set_index('INVOICE_NO'))
basket

ITEM_ID,3,8,9,16,18,19,23,41,44,50,...,15666976,15670985,15670986,15670987,15670989,15671003,15672996,15673966,15673973,15678008
INVOICE_NO,,,,,,,,,,,,,,,,,,,,,
1616070000/79213916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1616070001/79213917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1616070002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1616070003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1616070004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W016079134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
W016079135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
W016079136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
W016079137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
W016079138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
#轉成布林型態
def encode_units(x):
    if x <= 0:
        return False
    if x >= 1:
        return True

basket_sets = basket.applymap(encode_units)
basket_sets

ITEM_ID,3,8,9,16,18,19,23,41,44,50,...,15666976,15670985,15670986,15670987,15670989,15671003,15672996,15673966,15673973,15678008
INVOICE_NO,,,,,,,,,,,,,,,,,,,,,
1616070000/79213916,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1616070001/79213917,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1616070002,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1616070003,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1616070004,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
W016079134,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
W016079135,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
W016079136,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
W016079137,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
W016079138,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# APRIORI

In [232]:
import datetime
start = datetime.datetime.now()
result = apriori(basket_sets, min_support=0.001, use_colnames=True)
rules = association_rules(result, metric="lift", min_threshold=1)
#結束時間
end = datetime.datetime.now()
#輸出程式花費時間
print("執行時間：", end - start)
rules

執行時間： 0:00:05.125181

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1697),(1698),0.002822,0.003534,0.001069,0.378641,107.128923,0.001059,1.603687
1,(1698),(1697),0.003534,0.002822,0.001069,0.302326,107.128923,0.001059,1.429288
2,(1697),(70509),0.002822,0.008137,0.001562,0.553398,68.006472,0.001539,2.220910
3,(70509),(1697),0.008137,0.002822,0.001562,0.191919,68.006472,0.001539,1.234008
4,(1697),(88411),0.002822,0.004576,0.001315,0.466019,101.848962,0.001302,1.864158
...,...,...,...,...,...,...,...,...,...
137,"(3336149, 70509)",(88411),0.001233,0.004576,0.001041,0.844444,184.554092,0.001036,6.399157
138,"(88411, 70509)",(3336149),0.002082,0.002274,0.001041,0.500000,219.867470,0.001036,1.995452
139,(3336149),"(88411, 70509)",0.002274,0.002082,0.001041,0.457831,219.867470,0.001036,1.840604
140,(88411),"(3336149, 70509)",0.004576,0.001233,0.001041,0.227545,184.554092,0.001036,1.292978
141,(70509),"(88411, 3336149)",0.008137,0.001151,0.001041,0.127946,111.185185,0.001032,1.145399

In [226]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antecedents         142 non-null    object
 1   consequents         142 non-null    object
 2   antecedent support  142 non-null    float64
 3   consequent support  142 non-null    float64
 4   support             142 non-null    float64
 5   confidence          142 non-null    float64
 6   lift                142 non-null    float64
 7   leverage            142 non-null    float64
 8   conviction          142 non-null    float64
dtypes: float64(7), object(2)
memory usage: 10.1+ KB

In [227]:
#儲存
newdf=rules
newdf=np.array(newdf)
np.save('apriori_arules001.npy',newdf)

In [228]:
#讀取
rulest=pd.DataFrame(np.load('apriori_rules001.npy',allow_pickle=True))
rulest.columns = ['antecedents','consequents','antecedent support','consequent support','support','confidence','lift','leverage','conviction']
rulest

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1697),(1698),0.002822,0.003534,0.001069,0.378641,107.128923,0.001059,1.603687
1,(1698),(1697),0.003534,0.002822,0.001069,0.302326,107.128923,0.001059,1.429288
2,(1697),(70509),0.002822,0.008137,0.001562,0.553398,68.006472,0.001539,2.22091
3,(70509),(1697),0.008137,0.002822,0.001562,0.191919,68.006472,0.001539,1.234008
4,(1697),(88411),0.002822,0.004576,0.001315,0.466019,101.848962,0.001302,1.864158
...,...,...,...,...,...,...,...,...,...
137,"(3336149, 70509)",(88411),0.001233,0.004576,0.001041,0.844444,184.554092,0.001036,6.399157
138,"(88411, 70509)",(3336149),0.002082,0.002274,0.001041,0.5,219.86747,0.001036,1.995452
139,(3336149),"(88411, 70509)",0.002274,0.002082,0.001041,0.457831,219.86747,0.001036,1.840604
140,(88411),"(3336149, 70509)",0.004576,0.001233,0.001041,0.227545,184.554092,0.001036,1.292978
141,(70509),"(88411, 3336149)",0.008137,0.001151,0.001041,0.127946,111.185185,0.001032,1.145399

In [229]:
#冗餘規則
for a in range(len(rulest['antecedents'])):
    for b in range(a+1,len(rulest['antecedents'])):
        if rulest['antecedents'][a] <= rulest['antecedents'][b] and rulest['consequents'][a] == rulest['consequents'][b] and rulest['confidence'][a] <= rulest['confidence'][b]:
            rulest.drop(index = a ,axis = 0, inplace=True)
            break

In [230]:
rulest

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1697),(1698),0.002822,0.003534,0.001069,0.378641,107.128923,0.001059,1.603687
1,(1698),(1697),0.003534,0.002822,0.001069,0.302326,107.128923,0.001059,1.429288
6,(1698),(1708),0.003534,0.004822,0.001069,0.302326,62.694767,0.001052,1.426422
7,(1708),(1698),0.004822,0.003534,0.001069,0.221591,62.694767,0.001052,1.280131
14,(1698),(88444),0.003534,0.003397,0.001041,0.294574,86.704426,0.001029,1.412766
...,...,...,...,...,...,...,...,...,...
137,"(3336149, 70509)",(88411),0.001233,0.004576,0.001041,0.844444,184.554092,0.001036,6.399157
138,"(88411, 70509)",(3336149),0.002082,0.002274,0.001041,0.5,219.86747,0.001036,1.995452
139,(3336149),"(88411, 70509)",0.002274,0.002082,0.001041,0.457831,219.86747,0.001036,1.840604
140,(88411),"(3336149, 70509)",0.004576,0.001233,0.001041,0.227545,184.554092,0.001036,1.292978
141,(70509),"(88411, 3336149)",0.008137,0.001151,0.001041,0.127946,111.185185,0.001032,1.145399

In [231]:
user_input = set(input("請輸入商品編號(不同商品以空白間隔開)").split(' '))
search_input = set(map(int, user_input))
print("您輸入了:",search_input)

rule = pd.DataFrame()
rule=rulest[ (rulest['antecedents'] == search_input) ]


kk = list(rule['consequents'])

if rule.empty:
    print("沒有推薦的商品")
else:
    print("推薦商品編號為：")
    for i in range(len(kk)):
        cons = kk[i]
        if len(cons) < 2:
            print(i+1,cons)

請輸入商品編號(不同商品以空白間隔開)70509
您輸入了: {70509}
推薦商品編號為：
1 frozenset({1707})
2 frozenset({70448})
3 frozenset({70449})
4 frozenset({87118})
5 frozenset({88444})
6 frozenset({88623})
7 frozenset({88676})
8 frozenset({135492})
9 frozenset({135493})
10 frozenset({135789})
11 frozenset({3336149})